.disp-flex {
  display: flex !important;
}
.width-100 {
  width: 100%;
}

.width-400p {
  width: 40%;
}

.width-max-content {
  width: max-content;
}

.height-100vh {
  height: 60vh;
}

.height-80vh {
  height: 80vh;
}

.overflow-auto {
  overflow: auto;
}

.font-14p {
  font-size: 14px;
}

.bold {
  font-weight: 700;
}

.green-color {
  color: #43a7a7;
}

.red-color {
  color: red;
}

.grey-color {
  color: #929292;
}

.white-color {
  color: white;
}

.green-bg {
  background-color: #43a7a7;
}

input ::placeholder {
  color: #929292;
  font-size: 14px;
  font-weight: 700;
}

.width-min-content {
  width: min-content;
}

.rounder-border {
  border-radius: 20px;
}

.green-border {
  border: #43a7a7 2px solid;
}

#chat-box::-webkit-scrollbar {
    width: 10px;
}

.round-border {
    border-radius: 10px;
}

.white-bg {
  background-color: white;
}

.py-0-5 {
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important;
}

.width-50-max {
    max-width: 50%;
}
#chat-box::-webkit-scrollbar-thumb {
    background: #43a7a7;
    border-radius: 20px;
}

#chat-box::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
}
.green-border-bottom {
  border-bottom: #43a7a7 2px solid;
}

.font-12p {
  font-size: 12px;
}

.height-60 {
  height: 60vh;
}

input {
  border: #929292 2px solid;
  border-radius: 20px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  outline: none;
  width: 400px;
  color: #43a7a7;
  font-weight: 600;
  @media (max-width: 768px) {
    width: 250px;
  }
}

.space-between {
  justify-content: space-between;
}

.opacity-0-4 {
  opacity: 0.4;
}

.cursor-pointer {
  cursor: pointer;
}

.user-select-none {
  user-select: none;
}

.font-16p {
  font-size: 16px;
}
